# Variables de entorno para ejecutar el proyecto

# Puerto en el que se levantará el servidor
PORT=8080

# Cadena de conexión a MongoDB (Atlas o local)
# Ejemplo MongoDB Atlas:
# MONGO_URI=mongodb+srv://<usuario>:<password>@cluster0.mongodb.net/<db>?retryWrites=true&w=majority
MONGO_URI=
