<h2>🛒 Tu carrito</h2>

<div id="cart-container" class="cart-container"></div>

<div id="cart-total" class="cart-total-div"></div>

<button id="clearCartBtn" class="clearCartBtn">Vaciar carrito</button>

<a href="/products" class="back-to-products">⬅ Volver a productos</a>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/carts.js"></script>