<header class="main-header">
  
    <h2>MY E-COMERCE</h2>

  <nav class="nav">

    <a href="/" class="nav-link">Home</a>
    <a href="/realtimeproducts" class="nav-link">Real-time Products</a>
    <a href="/products" class="nav-link">Products</a>
    <a href="/carts" class="nav-link">Carts</a>
  
  </nav>
</header>