
/* Body */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0f172a;
  color: #e2e8f0;
  height: 80vh;
}

/* Footer */
footer {
  background-color: #1e1e2a;
  color: #aaaaaa;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  border-top: 1px solid #333;
  margin-top: 3rem;
  height: 5vh;
}